body {
    background-color: #111;
    color:#f2f2f2;
}
.home-section {
    background-color: #111;
}
.home-section:nth-of-type(2n) {
    background-color: #333;
}
.section-heading h1 {
    color:#fff;
}
#profile .portrait-title h2 {
    color:#fff;
}
#profile .portrait-title h3 {
    color:#ccc;
}
ul.ul-edu li .description p.institution {
    color:#ccc;
}
.projects-section {
    background-color: #444;
}
a, .article-title a {
    color:#F9F5D3;
}
ul.share li a{
    background-color:#FF8040;
}
a:focus, a:hover, .article-title a:hover, h3.article-title a:hover {
    color:#FF8040;
}

#contact.home-section .fa-li {
    color:rgb(168, 168, 161);
}

.btn-toolbar .btn.btn-primary.active, .btn-toolbar .btn.btn-primary:active {
    background-color: #111 !important;
}
.btn-toolbar .btn.btn-primary:focus, .btn-toolbar .btn.btn-primary:hover {
    background-color: #000 !important;
}
.btn-primary, .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    background-color: #333 !important;
}
.navbar-default {
    background:#111;
    color:#fff;
}
.navbar-default .navbar-brand {
    color:#f2f2f2;
}
.navbar-default .navbar-brand:hover {
    color:#fff;
}
.navbar-default .navbar-nav>li>a {
    color:#fff;
}