body {
    background-color: #2B2926;
    color:#f2f2f2;
}
.home-section {
    background-color: #2B2926;
}
.home-section:nth-of-type(2n) {
    background-color: #333;
}
.section-heading h1 {
    color:#fff;
}
#profile .portrait-title h2 {
    color:#fff;
}
#profile .portrait-title h3 {
    color:#ccc;
}
ul.ul-edu li .description p.institution {
    color:#ccc;
}
.projects-section {
    background-color: #444;
}
a, .article-title a {
    color:#F9F5D3;
}
ul.share li a{
    background-color:#FF8040;
}
a:focus, a:hover, .article-title a:hover, h3.article-title a:hover {
    color:#FF8040;
}

#contact.home-section .fa-li {
    color:rgb(168, 168, 161);
}

.btn-toolbar .btn.btn-primary.active, .btn-toolbar .btn.btn-primary:active {
    background-color: #2B2926 !important;
}
.btn-toolbar .btn.btn-primary:focus, .btn-toolbar .btn.btn-primary:hover {
    background-color: #000 !important;
}
.btn-primary, .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    background-color: #333 !important;
}
.navbar-default {
    background:#2B2926;
    color:#fff;
}
.navbar-default .navbar-brand {
    color:#f2f2f2;
}
.navbar-default .navbar-brand:hover {
    color:#fff;
}
.navbar-default .navbar-nav>li>a {
    color:#fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
    color:#FF8040;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #FF8040;
}
.btn-primary, .btn-primary.active {
    background: #FF8040;
    border-color: #fff;
}
.btn-outline-primary {
    color: #FF8040;
    border-color: #FF8040;
}
.btn-outline-primary:hover {
    background-color: #FF8040;
    border-color: #FF8040;
}
.card {
    background: #181A1B;
    color: #f1f1f1;
    border: 1px solid #555;
}
.card h4 a {
    color:#fff;
}
.card .card-text p {
    color:#f1f1f1;
}